/* Import colours from constants.css */
@import url(constants.css);


button{
    cursor: pointer;
}
/* ------------------------------------------------------------ */
/* -------------- Patient Info Panel and Photos --------------- */
/* ------------------------------------------------------------ */
/* Set information panel to be a flexible container (flexbox) */
#header{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    transition: var(--transTime);
}

#patient-info-panel{
    display: flex;
    background-color: var(--bg);
    color: var(--button-accent);
    padding: 3vh;
    align-items: center;
    justify-content: space-between;
    line-height: 0.5;
    transition: var(--transTime);
}

/* Control rest of patient info panel font colour, since name is different colour */
#patient-info-panel p{color: black;
display: flex;}

/* Control patient profile photo */
#profile-photo-div img{
    width: 20vh;
    height: 20vh;
    border: 4px solid var(--button-accent);
    border-radius: 20px;
    margin: 10px;
    transition: var(--transTime);
}

/* Control div for company logo */
#company-logo{
    display: flex;
    justify-content: flex-end;
}

/* Control company logo*/
#company-logo img{
    width: 15vh;
    height: 15vh;
    border: 4px solid var(--button-accent);
    border-radius: 20px;
}

/* Control patient info (i.e. name, ID, etc.) */
.patient-information{
    flex-grow: 1;   /* Take up all available space in the panel*/
    padding-left: 10vh;
}

/* Frame for holding buttons that control pagination */
#control-buttons-panel{
    border-bottom: 4px solid var(--button);
    padding: 2vh;
    background: var(--bg);
    display: flex;
    transition: var(--transTime);
}

#control-buttons-panel button{
    color: var(--whitefont);
    border: 2px solid var(--button-accent);
    border-radius: 1vh;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0vh 1vh 0vh 1vh;
    padding: 1vh 2vh;
    font-size: 2.3vh;
}

/* Placing this in control-buttons-panel overrides the hover/focus/active css items */
.control-buttons, .open-patient, .close-patient, .new-patient{
    background-color: var(--button);
}

/* When buttons are disabled, grey out background and take away pointer cursor */
.control-buttons:disabled{
    background-color: var(--bg2);
    cursor: default;
}

/* ------------------------------------------------------------ */
/* ---------------- Patient Info Panel Buttons----------------- */
/* ------------------------------------------------------------ */

/* Control colour change when mouse hovers over and clicks on buttons */
.control-buttons:enabled:hover, .control-buttons:enabled:focus{
    background-color: var(--button-accent);
    border: 2px solid var(--button-active);
}
.control-buttons:enabled:active {
    background-color: var(--button-active);
}

/* Control colour change when mouse hovers over and clicks on Open Patient button */
.open-patient:hover, .open-patient:focus{
    background-color: var(--open-patient);
    border: 2px solid var(--open-patient-accent);
}
.open-patient:active {
    background-color: var(--open-patient-active);
}

/* Control colour change when mouse hovers over and clicks on Close Patient button */
.close-patient:hover, .close-patient:focus{
    background-color: var(--close-patient);
    border: 2px solid var(--close-patient-accent);
}
.close-patient:active {
    background-color: var(--close-patient-active);
}

.new-patient:hover, .new-patient:focus{
    background-color: var(--new-patient);
    border: 2px solid var(--new-patient-accent);
}
.new-patient:active {
    background-color: var(--new-patient-active);
}

/* Control icon position in header panel buttons */
.material-symbols-outlined{
    color: var(--whitefont);
    vertical-align: middle;
}

/* Allow spacing between command buttons and open/close patient buttons to take up max space */
#heading-spacer{flex-grow: 1;}
