/* Import colours from constants.css */
@import url(constants.css);

/* ------------------------------------------------------------ */
/* --------------------- Start Test Table --------------------- */
/* ------------------------------------------------------------ */

/* Table for test information */
#test-table{
    width: 60%;
    border: 2px solid var(--button);
    border-collapse: collapse;
    margin: 5vh auto;
    overflow-y: scroll;
    table-layout: fixed;
}

/* Table header row */
#test-table thead {
    top: 0;
    background-color: var(--button); /* Ensure the header remains visible */
    color: var(--whitefont);
    font-size:x-large;
}

/* Control table header */
#test-table th {
    background-color: var(--button);
    text-align: center;
    line-height: 2vh;
    padding: 8px; /* Add padding for better spacing */
}

/* Ensure table cells (`<td>`) also take full width */
#test-table td {
    text-align: center;
    padding: 10px;
    height: 1vh;
}

#test-table tr, tbody {
    height: 1vh;
}
.divided-row{
    border-bottom: 3px solid var(--button-accent);
}

/* Control each of the buttons used to start collecting patient data */
#test-table button{
    height: 6vh;
    width: 15vh;
    background-color: var(--button);
    border: 2px solid var(--button-accent);
    border-radius: 5vh;
    color: var(--whitefont);
    font-size: 2.3vh;
}

#test-table button:hover{
    background-color: var(--button-accent);
    border: 2px solid var(--button-active);
    cursor: pointer;
}
    

/* ------------------------------------------------------------ */
/* -------------------- Analyze Button Div -------------------- */
/* ------------------------------------------------------------ */

#analyze-button-div{
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

#run-algorithm-button{
    height: 13vh;
    width: 25vh;
    background-color: var(--new-patient);
    border: 2px solid var(--new-patient-accent);
    border-radius: 5vh;
    color: var(--whitefont);
    font-size: 3.1vh;
}

#run-algorithm-button:hover{
    background-color: var(--new-patient-accent);
    border: 2px solid var(--new-patient-active);
    cursor: pointer;
}
    
#run-algorithm-button:focus{
    background-color: var(--new-patient-accent);
    border: 2px solid var(--new-patient-active);
}


/* ------------------------------------------------------------ */
/* ---------------------- Summary Details --------------------- */
/* ------------------------------------------------------------ */

.test-details{
    text-align: left;
}

/* Customize the drop down menu summary in the test table */
#test-table summary{
    color: var(--button-active);
    padding-bottom: 10px;
}

/* Customize the drop down details in the test table */
#test-table details p{
    padding: 0px 15px;
}

.test-table-test-name{
    font-size: larger;
    font-weight: 600
    ;
}

/* For incomplete test status */
.test-status{
    font-size: larger;
    color: var(--close-patient);
    font-weight: 800;
}

li{
   padding: 5px; 
}

/* ------------------------------------------------------------ */
/* ------------------- Confirm Restart Modal ------------------ */
/* ------------------------------------------------------------ */
#confirm-restart-content{
    width: 45%;
    height: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Frame for holding buttons that control pagination */
#confirm-restart-panel{
    padding: 7vh;
    background: var(--bg);
    display: flex;
    pointer-events: auto;
}

#confirm-restart-panel button{
    background-color: var(--button);
    color: white;
    color: var(--whitefont);
    border: 2px solid var(--button-accent);
    border-radius: 1vh;
    display: flex;
    align-items: center;
    margin: 0vh 7vh;
    padding: 2vh 4vh;
    font-size: 3vh;
}

/* Control colour change when mouse hovers over and clicks on buttons */
#confirm-restart-panel button:hover, #confirm-restart-panel button:focus{
    background-color: var(--button-accent);
    border: 2px solid var(--button-active);
}
#confirm-restart-panel button:active {
    background-color: var(--button-active);
}

/* ------------------------------------------------------------ */
/* --------------------- Speech Test Modal -------------------- */
/* ------------------------------------------------------------ */

#start-test-symbol{
    font-size: 10vh;
    text-align: center;
    color: var(--close-patient);
}

/* ------------------------------------------------------------ */
/* ----------------------- Survey Modal ----------------------- */
/* ------------------------------------------------------------ */
/* Container for header and "X" close button */
.survey-modal-header{
    display: flex;
    padding: 10px;
}

#close-survey-modal{
    padding-right: 10px;
}


/* Container to hold HTML form */
#form-container{
    overflow: auto;
    /* margin-left: 3vh;
    margin-right: 2vh; */
}

#form-container::-webkit-scrollbar{
    width: 2vh;
    border-radius: 10px;
    background-color: var(--button-accent);
    justify-content: left;
}

#form-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--button);
}

/* Submit survey button */
#submit-form-button{
    height: 8vh;
    width: 25vh;
    background-color: var(--new-patient);
    border: 2px solid var(--new-patient-accent);
    border-radius: 5vh;
    color: var(--whitefont);
    font-size: 3.1vh;
}

/* Control colour when submit survey button is hovered over */
#submit-form-button:hover{
    background-color: var(--new-patient-accent);
    border: 2px solid var(--new-patient-active);
    cursor: pointer;
}
/* Control colour when submit survey button is disabled */
#submit-form-button:disabled, #run-algorithm-button:disabled{
    background-color: var(--bg2);
    cursor: default;
    border: 2px solid var(--bg2);
}
