<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="../static/images/test_logo.ico">
    <link rel="stylesheet" href="../static/css/lock_screen.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div id="logo-lock-div">
        <img id="company-logo" src="../static/images/test_logo.png" alt="Company Logo">
        <img id="lock-logo" src="../static/images/login_lock.png" alt="Lock Icon">
    </div>

    <div id="login-modal">
        <h1 id="instruction">Please enter your login credentials.</h1>
            <!-- Place input containers for username and password -->
            <form method="POST">
                <div class="user-pass-div">
                    <div class="input-word">
                        <h4>User</h4>
                    </div>
                    <input id="username-input" name="username-input" type="text" placeholder="Username" autocomplete="off">
                </div>
                <div class="user-pass-div">
                    <div class="input-word">
                        <h4>Password</h4>
                    </div>
                    <input id="password-input" name="password-input" type="password" placeholder="Password" autocomplete="off">
                    <!-- Insert icon to toggle for visibility -->
                    <span id="toggle-visibility-icon" class="material-symbols-outlined">visibility</span>
                </div>
                <div id="login-div">
                    <button id="login-button" onclick=verifyLogin() disabled>Login</button>
                </div>
            </form>
    </div>


    <script src="../static/js/login_page.js"></script>
</body>
</html>