<!-- This page is displayed when the "No Patient" patient is selected, so tests cannot be started without a patient loaded -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>None Selected</title>
    <style>
        body{
            height: 100vh;
            background: linear-gradient(#dbe7e4 , #abdcdf)
       }
    </style>
</head>
<body>
    <!-- No content since it is a placeholder screen when patient are not yet loaded -->
</body>
</html>