<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <div id="select-div">
        <label id="combobox-label" for="combobox"><b>Select the date you wish to view test data from</b></label>
        <!-- Select element is left empty as it will be filled in by JS fetching and sorting through test sessions -->
        <select id="test-date-combobox" name="combobox"></select>
    </div>
    <!-- Div to create the radar chart and display full survey results -->
    <div id="radar-chart-div">
        <div id="chart-container">
            <canvas id="radar-canvas"></canvas>
        </div>
    </div>

    <h2 id="pred-summary">Prediction Summary</h2>
    <!-- Div to create the prediction results table -->
    <div id="prediction-results-div">
        <table id="predictions-table">
            <thead> <!-- Leave majority of table spaces empty, as they will be filled in by JavaScript --> 
                <th>Test</th>
                <th>Prediction</th>
                <th>Confidence Rate</th>
            </thead>
            <tbody>
                <tr class="divided-row">
                    <td class="table-category"><b>Handmotion</b></td>
                    <td id="hm-pred" class="table-data">asd</td>
                    <td id="hm-rate" class="table-data">tyui</td>
                </tr>
                <tr class="divided-row">
                    <td class="table-category"><b>Speech</b></td>
                    <td id="speech-pred" class="table-data">asd</td>
                    <td id="speech-rate" class="table-data">tyui</td>
                </tr>
                <tr id="last-test-row" class="divided-row">
                    <td class="table-category"><b>Resting Tremor</b></td>
                    <td id="rt-pred" class="table-data">asd</td>
                    <td id="rt-rate" class="table-data">tyui</td>
                </tr>
                <tr class="divided-row summary-row">
                    <td class="table-category"><b>Weighted Vote</b></td>
                    <td id="weighted-rate-row" class="table-data">asd</td>
                </tr>
                <tr class="summary-row">
                    <td class="table-category"><b>Prediction</b></td>
                    <td id="prediction-row" class="table-data">asd</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>