<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>

</head>
<body>
  <!-- Create table that shows each testing case, drop-down instructions, and allows the user to start the test -->
  <table id="test-table">
    <thead>
        <td>Test</td>
        <td>Status</td>
        <td></td>
    </thead>
      
    <tbody>
      <!-- Nest two rows in one to give the illusion of one row with a spanned column for test guidelines -->
      
      <tr> <!-- Starting Survey -->
        <td class="test-table-test-name">APDA Healthcare Survey</td>
        <td class="test-status" id="survey-status">{{ session["survey_completed"] }}</td>
        <td>
          <button id="start-survey-button" clicked="false">Start Test</button>
        </td>
      </tr>
      <tr>
        <!-- Testing guidelines for hand motion test -->
        <td class="divided-row" colspan="3">
          <!-- Drop-down text to show testing guidelines -->
          <details class="test-details" id="survey-details">
            <summary><b>Click for APDA Healthcare Survey Guidelines</b></summary>
            <ol>
              <li>Click the "Start Test" button. A window should appear over the existing screen.</li>
              <li>If the patient is capable, ask them to read through each of the survey questions and click on the most appropriate response.</li>
              <ul><li>If the patient is unable to independently complete this task, read the questions aloud to the patient and ask them to answer with the most appropriate response.</li></ul>
              <li>Once all survey questions are complete, click the "Finish Survey" button.</li>
              <ul><li>The data will be automatically saved and moved to the patient's file.</li></ul>
             
            </ol>
          </details>
        </td>
      </tr>
      
      <tr> <!-- Hand Motion Test -->
        <td class="test-table-test-name">Hand Motion</td>
        <td class="test-status" id="handmotion-status">{{ session["handmotion_completed"] }}</td>
        <td>
          <button id="start-handmotion-button" clicked="false">Start Test</button>
        </td>
      </tr>
      <tr>
        <!-- Testing guidelines for hand motion test -->
        <td class="divided-row" colspan="3">
          <!-- Drop-down text to show testing guidelines -->
          <details class="test-details" id="handmotion-details">
            <summary><b>Click for Hand Motion Test Guidelines</b></summary>
            <ol>
              <li>Ensure the patient is sitting near a firm surface and is positioned appropriately to write.</li>
              <li>The system's drawing tablet and stylus should be available, with a spiral drawing page taped to the tablet surface.</li>
              <li>Click the "Start Test" button. A new window should load over the existing screen.</li>
              <li>Instruct the patient to begin tracing the spiral from the inside in one motion.</li>
              <ul><li>The patient should not be resting their wrist on the tablet while writing.</li></ul>
              <li>Once the test is complete, close the window. The data will be automatically saved and moved to the patient's file.</li>
            </ol>
          </details>
        </td>
      </tr>


      <tr> <!-- Speech Test -->
        <td class="test-table-test-name">Speech</td>
        <td class="test-status" id="speech-status">{{ session["speech_completed"] }}</td>
        <td>
          <button id="start-speech-button" clicked="false">Start Test</button>
        </td>
      </tr>
      <tr>
        <!-- Testing guidelines for speech test -->
        <td class="divided-row" colspan="3">
          <!-- Drop-down text to show testing guidelines -->
          <details class="test-details" id="speech-details">
            <summary><b>Click for Speech Test Guidelines</b></summary>
            <ol>
              <li>Ensure the test is being conducted in a quiet environment, and click the "Start Test" button.</li>
              <ul><li>The patient should be sitting close to the microphone, with the device in an upright position.</li></ul>
              <li>The patient will be instructed to wait in silence for approximately 4 seconds.</li>
              <ul><li>Ensure little to no sounds occur during this time, as the system is calibrating to background noise levels.</li></ul>
              <li>The patient will be instructed to hold a vowel for a set period of time (approximately 15 seconds).</li>
              <ul><li>Examples will be provided on the window that apppears.</li></ul>
              <li>Once recording is finished, remain silent until the pop-up screen disappears and the main screen is visible again.</li>
              <ul><li>The recorded file will be automatically saved and moved to the patient's file.</li></ul>
            </ol>
          </details>
        </td>
      </tr>


      <tr> <!-- Tremor Test -->
        <td class="test-table-test-name">Tremor</td>
        <td class="test-status" id="tremor-status">{{ session["tremor_completed"] }}</td>
        <td>
          <button id="start-tremor-button" clicked="false">Start Test</button>
        </td>
      </tr>
      <tr>
        <!-- Testing guidelines for tremor test -->
        <td colspan="3">                <!-- This row does not have the "divided-row" class so the bottom border doesn't appear -->
          <!-- Drop-down text to show testing guidelines -->
          <details class="test-details" id="tremor-details">
            <summary><b>Click for Tremor Test Guidelines</b></summary>
            <ol>
              <li>Ensure the accelerometer's wristband is fastened securely around the patient's dominant wrist, and the device is facing upright.</li>
              <li>Activate the device by moving the side switch to the "On" position.</li>
              <li>Confirm that the patient is sitting in a relaxed posture with their arm along a firm surface.</li>
              <li>Click the "Start Test" button. A new window should open over the existing screen.</li>
              <ul><li>If the left screen panel is not open, clicking on the arrow at the left edge of the window will reveal this tool.</li></ul>
              <li>Under the "Modular Category" title, ensure "BWT901BLECL5.0" is selected from the drop-down menu.</li>
              <ul><li>Click "Search Devices" if no models are available, and ensure the device "WTPD Diagnostic(d3:c7:8d:a5:a9:b5)" is selected.</li></ul>
              <li>Confirm that the device is receiving data by asking the patient to move their wrist and watching the software's changing gyroscopic readings.</li>
              <li>Instruct the patient to remain still with their arm on the table until told otherwise.</li>
              <ul><li>Ensure the patient has remained still for at least 5 seconds before beginning the test.</li></ul>
              <li>In the bottom-right corner of the screen, click "Start Recording". This button should now turn green to signify that recording is in progress.</li>
              <ul><li>A timer is available to the left of this button to view how long the test has been running for.</li></ul>
              <li>After 20 seconds of recording click the "Stop Recording" button in the bottom-right corner.</li>
              <ul><li>A pop up window will appear asking whether the data file location should be opened. Click "No".</li></ul>
              <li>Close the window, which will bring the original program back into view.</li>
              <ul><li>The data will be automatically saved and moved to the patient's file.</li></ul>
            </ol>
          </details>
        </td>
      </tr>
    </tbody>
        
  </table>

  <div id="analyze-button-div">
    <button id="run-algorithm-button" disabled>Analyze Test Results</button>
  </div>
      
  <!-- Modal to confirm that the user wants to delete old patient test file and create a new one -->
  <div id="confirm-restart-test" class="modal">
    <div id="confirm-restart-content" class="modal-content">
        <div class="modal-header">
            <div>
                <h2>Are you sure you want to restart the test?</h2>
                <h4>This will erase all previous test data.</h4>
            </div>
            <span id="close-restart-modal" class="close">&times;</span>  <!-- Place in "X" to close window-->
        </div>
        <div id="confirm-restart-panel">
            <button id="confirm-restart-panel-yes" class="confirm-restart-button">Yes</button>
            <button id="confirm-restart-panel-no" class="confirm-restart-button">No</button>
        </div>
    </div>
  </div>

  <div id="speech-test" class="modal">
    <div id="speech-test-content" class="modal-content">
        <div class="modal-header">
            <div>
                <h2>Please wait silently for the test to start.</h2>
                <h4>Hold only the long "\a\" vowel sound until the test is completed.</h4>
                <h3>Examples:
                  <ul>
                    <li>P<em>aw</em></li>
                    <li>L<em>aw</em></li>
                    <li>M<em>aw</em></li>
                  </ul>
                </h3>
                <p id="start-test-symbol">Do Not Speak&nbsp;&nbsp;&nbsp;4</p>
            </div>
        </div>
    </div>
  </div>

  <div id="survey-test" class="modal">
    <div id="survey-test-content" class="modal-content">
      <div id="form-container">
        <div id="survey-modal-header" class="modal-header">
          <h2>Please answer the following questions honestly based on how much you experience the following symptoms.</h2>
          <span id="close-survey-modal" class="close">&times;</span>  <!-- Place in "X" to close window-->
        </div>
        <form method="POST" id="survey-form" test_type="survey"></form>
      </div>
    </div>
  </div>

  <!-- Content for loading screen that shows like a display modal (meant to keep the user occupied while algorithm runs)-->
  <div id="load-screen-modal" class="modal">
    <div class='waitContent'>
      <div class='ball'></div>
      <div class='ball'></div>
      <div class='ball'></div>
      <div class='ball'></div>
      <div class='ball'></div>
      <div class='ball'></div>
      <div class='ball'></div>
      <div class='ball'></div>
    </div>
  </div>
</body>

<script src="{{ url_for('static', filename='js/process_data.js') }}"></script>
</html>